body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.copyright{
    margin-right: 20px;
    padding: 10px 0;
}
h3, h4{
    font-size:24px;
}

#page_connexion, #page_inscription{
    display:flex;
}

.mdp_reset{
    margin-top: 10px;
}
.modal .modal-footer{
    text-align:center;
}
.form-submit{
    width:100%;
}
.logo{
    width:100px;
    height:auto;
    margin-top:3px;
}
.messages{
    margin-top: 10px;
}


@media screen and (max-width:600px){
    .form-submit, .mdp_reset, #page_inscription .form-submit{
        text-align: center;
        margin: 10px 0;
    }
    .copyright{
        text-align: center;
    }
}

