body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.copyright{
    margin-right: 20px;
    padding: 10px 0;
}

#page-accueil{
    background-position: center;
}
#page_connexion, #page_inscription{
    display:flex;
}
.img-connexion{
    width:100%;
    height:auto;
}
.password_reset{
    margin-top: 10px;
}
.modal .modal-footer{
    text-align:center;
}
.form-submit{
    width:100%;
}
.logo{
    width:100px;
    height:auto;
    margin-top:3px;
}

#page_inscription .img-inscription{
    width:80%;
    height:auto;
}
.messages{
    margin-top: 10px;
}
#page_inscription .form-submit{
    text-align:right;
    width:100%;
}

@media screen and (max-width:600px){
    .form-submit, .password_reset, #page_inscription .form-submit{
        text-align: center;
        margin: 10px 0;
    }
    .copyright{
        text-align: center;
    }
}

